<div class="container">
  <h1><%= @book.name() %></h1>
  <h3> by <%= @book.author() %></h3>
  <h4> ~ Genre: </h4>
  <% if @book.genres().any? %>

  <% @book.genres().each do |genre| %>
  <p><a href="/genres/<%= genre.id() %>"><%= genre.genre() %></a></p>
  <% end %>
  <% else %>
  <p>No genres have yet been added to this book.</p>
  <% end %>


  <% if @book.employees().any? %>
    <h3>Recommended by</h3>
    <% @book.employees().each do |employee| %>
      <ul>
        <li><a href="/employees/<%= employee.id() %>"><%= employee.employee() %></a></li>  
      </ul>
    <% end %>
  <% else %>
  <p>This book has not yet been receommended!</p>
  <% end %>

  <a href="/books/edit/<%= @book.id() %>"><button type="submit" class="btn btn-sm btn-success">Edit Book</button></a>
  <br>
  <br>
  <form action="/books/<%= @book.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">

    <button type="submit" class="btn btn-sm btn-danger">Delete Book</button>
  </form>

  <a href="/">Back to Home Page</a>
</div>