<header style="text-align: center;">
  <h1><%= @book.name() %></h1>
  <h3> by <%= @book.author() %></h3>
  <% if @book.genres().any? %>

  <% @book.genres().each do |genre| %>
  <ul style="list-style: none; display: inline-block;">
   <li>
  <a href="/genres/<%= genre.id() %>"><%= genre.genre() %></a>
    </li>
  </ul>
  <% end %>
  <% else %>
  <p>No genres have yet been added to this book.</p>
  <% end %>
</header>
<div class="container">
  <% if @book.employees().any? %>
    <h3>Recommended by</h3>
  <% @book.employees().order("employee").each do |employee| %>
      <ul style="list-style: none;">
        <li><a href="/employees/<%= employee.id() %>"><%= employee.employee() %></a><br>
        <% @book.comments().each do |comment| %>
        <% if comment.employee_id == employee.id() %>
        "<%= comment.comment() %>"
        <% end %>
        <% end %>
      </li>  
    </ul>
  <% end %>
  <% else %>
  <p>No staff has left a comment.</p>
  <% end %>
</div><br>
<div class="container">  
  <a href="/books/edit/<%= @book.id() %>"><button type="submit" class="btn btn-sm btn-success">Edit Book</button></a>
  <br><br>
  <form action="/books/<%= @book.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn btn-sm btn-danger">Delete Book</button>
  </form><br>

  <a href="/"><button type="submit" class="btn btn-sm btn-primary">Back to Home Page</button></a>
</div>
  
  
  
  