<h1>Here are the books <%= @employee.employee() %> recommends!</h1>

<% if @employee.books().any? %>
  <% @employee.books().each() do |book| %>
    <ul>
      <li><a href="/books/<%= book.id() %>"><%= book.name() %></a> by <%= book.author() %></li>  
    </ul>
  <% end %>
<% else %>
  <p>No books have been added!</p>
<% end %>
<br>

<form action="/employees/<%= @employee.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  
  <button type="submit" class="btn btn-sm btn-danger">Delete Employee</button>
</form><br>

<a href="/">Return to Home Page</a>